# Previous and reference code
code/old/
code/ref/

# Data
data/

# Output
output/

# External validation
validation/

# Other analysis
other_analysis/

# Simulation related
simulation/simulated_data/
simulation/output/

# Figure related
**/figures.*
**/figures_response.*

# Python
__pycache__/
*.pyc
.venv/
.env

# R
.Rhistory
.RData

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log